workflows/litellm-test-workflow.json
{
  "name": "LiteLLM Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-4a5b-8c7d-9e0f1a2b3c4d",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "question",
              "value": "What are 3 benefits of running a homelab?"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b5c-9d8e-0f1a2b3c4d5e",
      "name": "Set Question",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.72.98.106:8000/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-zwcYHyyR9rx7stuFhocu3_gErZShHqCxsnPDpcDr4m0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful assistant that provides concise answers.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.question }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c5d-0e9f-1a2b3c4d5e6f",
      "name": "Call LiteLLM API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "question",
              "value": "={{ $('Set Question').item.json.question }}"
            },
            {
              "name": "answer",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "model_used",
              "value": "={{ $json.model }}"
            },
            {
              "name": "tokens_used",
              "value": "={{ $json.usage.total_tokens }}"
            },
            {
              "name": "prompt_tokens",
              "value": "={{ $json.usage.prompt_tokens }}"
            },
            {
              "name": "completion_tokens",
              "value": "={{ $json.usage.completion_tokens }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d5e-1f0a-2b3c4d5e6f7a",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Question": {
      "main": [
        [
          {
            "node": "Call LiteLLM API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LiteLLM API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-24T00:00:00.000Z",
  "versionId": "1"
}
